@media only screen and (min-width : 481px)
{
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: #b77dc4;
        background: -moz-linear-gradient(top, #4f83f3 0%, #b77dc4 100%);
        background: -webkit-linear-gradient(top, #4f83f3 0%, #b77dc4 100%);
        background: -o-linear-gradient(top, #4f83f3 0%, #b77dc4 100%);
        background: linear-gradient(to bottom , #4f83f3 0%, #b77dc4 100%);
    }
    .title {
        text-align: center;
        background: #8c8c8c;
        background: -moz-linear-gradient(135deg, #070707, #a2a0bd, #8c8c8c);
        background: -webkit-linear-gradient(135deg, #070707, #a2a0bd, #8c8c8c);
        background: -o-linear-gradient(135deg, #070707, #a2a0bd, #8c8c8c);
        background: linear-gradient(135deg , #070707, #a2a0bd, #8c8c8c);
        text-align: center;
        padding: 3px;
        background-color: #8c8c8c;
    
    }
    #wrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #navbar{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    /* Add a black background color to the top navigation */
    .topnav {
        position: relative;
        background-color: #333;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }
    
    #welcomemesg{
        width: 100%;
        margin-left: auto;
        margin-right: auto;    
    }
    /* Style the links inside the navigation bar */
    .welcomemesg {
        text-align: center;
        color: #3d0c0c;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    #aboutmemesg{
        width: 100%;
        margin-left: auto;
        margin-right: auto;    
    }
    .aboutme{
        text-align: center;
        color: #3d0c0c;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    #projectsdetails{
        width: 100%;
        margin-left: auto;
        margin-right: auto;    
    }
    .projects{
        text-align: left;
        color: #3d0c0c;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    #form{
        width: 100%;
        margin-left: auto;
        margin-right: auto;    
    }
    .contactform{
        text-align: left;
        color: #3d0c0c;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    video{
        width: 400px;
        padding: 15px;
        margin: 15px;
        background-color: #070707;
        border: 2px white;
        box-shadow: 10px 10px 5px black;
    }
    footer {
        text-align: center;
        padding: 3px;
        background-color: #3d0c0c;
        color: azure;
        margin-top: auto;
    }
}